@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}

.navbar{ 
  background: rgba(0, 0, 0, 0.5);
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 2em !important; text-transform: uppercase;}

.nav-link:hover { background: transparent; color: #ff4b4c;  text-decoration: underline;}

.navbar-collapse{ justify-content: flex-end;}

.navbar-collapse .navbar-nav>.active> a, 
.navbar-collapse .navbar-nav>.active> a:focus, 
.navbar-collapse .navbar-nav>.active> a:hover {
  background: transparent; color: #ff4b4c;  border:2px solid #ff4b4c;
}

.navbar-toggler {
  border-color: white;
} 


.header{
  background-image: url('../images/headerback.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(70%); /* Safari */
  filter: grayscale(70%);
}

.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
}

.description{
  position: absolute;
  top: 45%;
  margin: auto;
  padding: 2em;
}
.description h1{
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-align: center;
}


.oferta {
  background-color: #ff4b4c;
  overflow: hidden;
  position: relative;
  //color: rgba(255, 255, 255, 0.7);
}

.oferta h1{
 padding:1em 1px;
 color: white; 
}

.oferta h3 {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}

.oferta p {
  color: #fff;
}
.oferta .icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.oferta .icon:before {
  color: #fff;
}


.portfolio h1{
 padding:1em 1px;
 color: #818689; 
}

/*
.btn, 
.btn:focus, 
.btn:hover {
  background: transparent; color: #ff4b4c;  border:2px solid #ff4b4c;
}
*/
.active button{
  background: transparent; color: #ff4b4c;  border:2px solid #ff4b4c;
}

.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; 
}

.gallery .animation {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05); 
}

.gallery img {
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
}

.gallery img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}
    
    
.contact-form{ 
  //margin: 6em 0;
  position: relative;	
  background-image: url('../images/contactback.jpg');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.contact-form h1{
 padding:1em 1px;
 color: white; 
}

.contact-form .btn-secondary{
 background: #ff4b4c;
 border:0;
}

.contact-form .form-control::placeholder{
 color: white;
 font-size: 1rem;
}



.contact-form .form-control:focus{
 color: white;
}

.contact-form p {
  color: white; 
}

.contact-form input, .contact-form textarea{
       background-color:transparent !important;
       //border:2px solid white !important;
       color: white;
}

.contac-from textarea:focus, input:focus {
    color: white;
}

.footer {
    color: white;
    min-height: 5rem;
    background: #7d7e7d;
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
